<div class="main" style="margin: auto;" align="center" valign="top">
    <h4 style="padding-bottom: 20px;">please record your process.</h4>
    <form action="/howmuch" method="post" class="form">
        <div class="form-group">
            <label>教材</label>
            <select name="robject" class="form-control"  required>
                <% @homeworks.each do |homework| %>
                    <option value="<%= homework.id %>"><%= homework.object %></option>
                <% end %>
            </select>
            <br>
        </div>
        <div class="form-group">
            <label>ページ数</label>
            <input type="text" name="rpage" placeholder="ページ数" class="form-control" required><br>
        </div>
        <div class="form-group">
            <label>記録日</label>
            <input type="date" name="date" placeholder="記録日"  id="datepicker" class="form-control" required><br>
        </div>
        <input type="submit" value="登録" class="btn btn-primary"><br>
        <a href="/usermain" class="btn btn-info" style="margin: 20px;">メインページに戻る</a>
    </form>
</div>

<div class="footer">
    <p class="copylight" align="center" valign="top" style="margin: 20px auto;">&copy;2016 Yoshiki Nishioka</p>
</div>
