<body class="login">
    <div style="margin-top: 150px;">
        <h1 align="center" valign="top" style="color: white; font-size: 70px; margin: 20px auto;">Inversionist</h1>
        <h3 align="center" valign="top" style="margin: 0 auto;">君の宿題、逆算します。</h3>
    </div>

    <p align="center" valign="top" style="margin: 20px auto;">ログインまたは新規登録してください。</p><br>
    <div class="container"  align="center" valign="top">
        <a href="/signin" class="btn btn-primary main_btn">ログイン</a>
        <a href="/signup" class="btn btn-primary main_btn">新規登録</a><br>
    </div>
</body>
