<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Inversionist</title>
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/Smoothness/jquery-ui.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script>
      $(function() {
        $("#datepicker").datepicker();
      });
    </script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </head>
  <body>
    <% if session[:user] %>
      <header>
          <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <a href="/usermain" class="navbar-brand" style="font-size: 20px; margin-right: 100px;">Inversionist</a>
                      <ul class="nav navbar-nav" style="display: inline-block;">
                          <li class="box"><a href="/usermain">マイページ</a></li>
                          <li class="box"><a href="/hwregister">宿題の新規登録をする</a></li>
                          <li class="box"><a href="/howmuch">宿題を記録する</a></li>
                          <li class="box"><a href="/signout">ログアウト</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>
    <% end %>
    <%= yield %>

    <footer>
        <p class="copylight" align="center" valign="top">&copy;2016 Yoshiki Nishioka</p>
    </footer>
  </body>
</html>
