<div align="center" valign="top">
    <h3>Login</h3>
    <form action="/signin" method="post" style="margin: 30px;" class="form">
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" name="mail" placeholder="E-mail" class="form-control"  required><br>
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" name="password" placeholder="password" class="form-control"  required><br>
        </div>
        <button type="submit" class="btn btn-primary">Login</button><br>
        <a href="/" class="btn btn-info" style="margin: 20px;">トップページに戻る</a>
    </form>

</div>

<div class="footer">
    <p class="copylight" align="center" valign="top" style="margin: 20px auto;">&copy;2016 Yoshiki Nishioka</p>
</div>
